* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  background: url("./IMG-20220903-WA0002.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.navber {
  width: 1200px;
  height: 75px;
  margin: auto;
}
.icon {
  width: 200px;
  height: 70px;
  float: left;
}
.logo {
  color: orange;
  font-size: 50px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  margin-top: 5px;
}
menu {
  width: 400px;
  float: left;
  height: 70px;
}
ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}
ul li a {
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
ul li a:hover {
  color: orange;
}
.search {
  width: 330px;
  float: left;
  height: 270px;
}
.srch {
  border: 1px solid orange;
  border-right: none;
  padding: 10px;
  margin-top: 13px;
  margin-left: 13px;
  float: left;
  background: transparent;
  color: white;
  font-size: 16px;
  height: 40px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.btn {
  margin-top: 13px;
  background-color: orange;
  color: white;
  font-size: 16px;
  width: 100px;
  height: 40px;
  float: left;
  border: 2px solid orange;
  cursor: pointer;
  transition: 0.2s ease;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn:hover {
  color: black;
}
.srch {
  outline: none;
}
.btn {
  outline: none;
}
